<!-- http://schemaform.io/examples/bootstrap-example.html -->
<!-- https://angular2-json-schema-form.firebaseapp.com/ -->
<!-- https://github.com/formio/angular-formio -->


<div class="container">

    <div class="row">

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <select name="" id="input${1/(\w+)/\u\1/g}" class="form-control" required="required">
        <option value="form">Create Form</option>
      </select>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <button type="button" (click)="createForm()" class="btn btn-default">Add Form</button>

        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <select (change)="selectedFiled($event)" [disabled]="!isFormCreated" name="" id="input${1/(\w+)/\u\1/g}" class="form-control" required="required">
        <option value="label">Create label field</option>
        <option value="text">Create text field</option>
        <option value="email">Create email field</option>
        <option value="textarea">Create textarea field</option>
        <option value="radio">Create radio button</option>
        <option value="password">Create password field</option>
      </select>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <button type="button" (click)="createFormFields()" class="btn btn-default">Add Fields</button>

        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div #playground></div>
        </div>

    </div>


</div>