<!-- http://schemaform.io/examples/bootstrap-example.html -->
<!-- https://angular2-json-schema-form.firebaseapp.com/ -->
<!-- https://github.com/formio/angular-formio -->
<!-- http://www.isummation.com/blog/angular-for-creating-dynamic-forms/ -->

<div class="container">

    <div class="row">

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <select name="" id="input${1/(\w+)/\u\1/g}" class="form-control" required="required">
        <option value="form">Create Form</option>
      </select>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <button type="button" (click)="createForm()" class="btn btn-default">Add Form</button>

        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <select (change)="selectedFiled($event)" [(ngModel)]="selectedFieldsName" [disabled]="!isFormCreated" name="" id="input${1/(\w+)/\u\1/g}" class="form-control" required="required">
              <option value="inputfield" >Create input field</option>
              <!-- <option value="text">Create text field</option>
              <option value="email" disabled='true'>Create email field</option>
              <option value="textarea">Create textarea field</option> -->
              <option value="radio">Create radio button</option>
              <!-- <option value="password" disabled='true'>Create password field</option> -->
            </select>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <button type="button" (click)="createFormFields()" [disabled]="!isSelectedField" class="btn btn-default">Add Fields</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div #playground></div>
        </div>

    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button type="button" class="btn btn-primary" (click)="showComponent()">Show List of Component</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!-- <div #finalElements></div> -->
            <div *ngIf="elements">
                <form>
                    <label class="formHeading"><b>Registration Form</b></label>
                    <div class="row" *ngFor="let element of elements">

                        <div class="col-md-12">
                            <div *ngIf="element.type !== 'radio'">
                                <label [for]="element.id">{{ element.label }} </label>
                                <input [type]="element.type" name="" [id]="element.id" class="form-control" value="" [placeholder]="element.placeholder" required="required" pattern="" title="">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div *ngIf="element.type === 'radio'">
                                <label>{{ element.label }} </label>
                                <div class="radio-inline" *ngFor="let r of element.radioOptions">
                                    <label><input [type]="element.type" [name]="element.name" [value]="r">{{ r }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- <button type="button" class="btn btn-primary" (click)="openModalWithComponent()">Create modal with component</button> -->